body {
    font-family: 'Montserrat', sans-serif;
}

.board-row {
    width: 400px;
}

.area {
    flex: 0 0 auto;
    width: 33.3333333333%;
    height: 125px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 100px;
    background: transparent;
    border-radius: 0;
    border: 5px solid gray;
    line-height: 1;
}

.area:nth-child(1) {
    border-top-color: transparent;
    border-left-color: transparent;
}

.area:nth-child(2) {
    border-top-color: transparent;
}

.area:nth-child(3) {
    border-top-color: transparent;
    border-right-color: transparent;
}

.area:nth-child(4) {
    border-left-color: transparent;
}

.area:nth-child(6) {
    border-right-color: transparent;
}

.area:nth-child(7) {
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.area:nth-child(8) {
    border-bottom-color: transparent;
}

.area:nth-child(9) {
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.area:focus {
    outline: none;
}

#tic-tac-toe-board {
    display: flex;
    flex-wrap: wrap;
    min-height: 375px;
    align-items: center;
    font-weight: bold;
    background: #00000005;
    border: 10px solid #f1f1f1;
}

#tic-tac-toe-board.active {
    background: transparent;
    border: 0;
}

.score-number {
    font-size: 80px;
    font-family: 'Reem Kufi', sans-serif;
}

.card {
    border: 2px solid rgba(0,0,0,.125);
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
}
.card-title {
    font-size: 15px;
}


.x-player {
    color: slateblue;
}

.o-player {
    color: salmon;
}